@font-face {
  font-family: 'GeneralEnclosedFoundicons';
  src: url('GeneralEnclosed_foundicons.eot');
  src: url('fonts/GeneralEnclosed_foundicons_foundicons.eot?#iefix') format('embedded-opentype'),
       url('fonts/GeneralEnclosed_foundicons_foundicons.woff') format('woff'),
       url('fonts/GeneralEnclosed_foundicons_foundicons.ttf') format('truetype'),
       url('fonts/GeneralEnclosed_foundicons.svg#general_GeneralEnclosedFoundicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.foundicon-heart:before {
content: "\f001";
}
.foundicon-cart:before {
content: "\f024";
}
.foundicon-smiley:before {
content: "\f02d";
}
.foundicon-idea:before {
content: "\f022";
}
.foundicon-location:before {
content: "\f028";
}
.foundicon-mail:before {
content: "\f007";
}
[class*="foundicon-"] {
display: inline;
width: auto;
height: auto;
line-height: inherit;
vertical-align: baseline;
background-image: none;
background-position: 0 0;
background-repeat: repeat;
}
[class*="gen-enclosed foundicon-"]:before {
font-family: "GeneralEnclosedFoundicons";
}
[class*="foundicon-"]:before {
font-weight: normal;
font-style: normal;
text-decoration: inherit;
}
@charset "utf-8";

html,body,h1,h2,h3,h4,h5,p,dl,dt,dd,ul,ol,li,table,textarea,iframe,form,pre {
  margin:0;
  padding:0;
  font-size:100%;
}
a{
  color: #000;
}
li{
  text-decoration: none;
}
body{
  font-family: 'Hiragino Kaku Gothic ProN', Meiryo, 'MS PGothic', Sans-serif;
  line-height: 1.5;
  font-weight: normal;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
}
.flo-l{
  float: left;
}
.flo-r{
  float: right;
}
header{
  height: 60px;
  overflow: hidden;
  background: #FEBF54 url("images/header_boder.png") repeat-x;
}
header .headerLogo{
  height: 10px;
  background: repeat-x;
 margin: auto;
}
header nav{
  width: 980px;
  height: 50px;
}
header nav li{
  width: 7em;
  text-align: center;
}
.main{
  width: 980px;
  overflow: hidden;
  margin: auto;
}
#container{
  overflow: hidden;
  background:  #FCF8E4;
}
#container .contents{
  width: 730px;
  margin-left: 20px;
}
#container .contents .button{
  width: 100%;
  margin: 20px 0 10px 0;
  overflow: hidden;
}
#container .contents .button li{
  text-decoration: none;
  width: 350px;
  height:44px;
  text-align: center;
  background: blue;
}
#container .contents .topicPath{
  overflow: hidden;
}
#container .contents .topicPath li{
  width: 100px;
  float: left;
}
#container .contents #album{
  width: 726px;
  background: white;
  overflow: hidden;
  border: solid 2px #FF8B0D;
}
#container .contents #album .navSide{
  margin: 20px;
}
#container .contents #album .picAlbum{
  overflow: hidden;
  margin: 10px;
}
#container .contents #album .picNew{
  overflow: hidden;
  margin: 10px;
}
#container .main .Sider_nav{
  width: 230px;
  background: white;
  overflow: hidden;
  margin: 0;
}
#container .main .Sider_nav li{
  height: 80px;
} 
footer{
  height: 167px;
  color: white;
  overflow: hidden;
  background: #666666;
}
footer .footerPic{
  height: 57px;
  width: 100%;  
  background:  #FCF8E4;
  text-align: center;
}
footer img{
  width: 957px;
  margin: auto;
}
footer .box{
  margin: auto;
  width: 980px;
  height: 110px;
  text-align: center;
  padding-top: 40px;
}